<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={{or .Params.description .Site.Params.description}}>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" href="/images/favicon.webp" />
  <title>{{ .Title }}</title>
</head>

<body>
  <div class="container">
    {{ partial "navbar" . }}
    {{ block "main" . }} {{ end }}
    {{ partial "footer" . }}
  </div>
  <script src="/js/app.js"></script>
</body>

</html>