<div class="footer">
  <div class="footerLinks">
    <a href="https://polimat.org/">polimat.org</a> |
    <a href="/categories">kategorije</a>
  </div>
  <div class="social">
    <a href="https://api.whatsapp.com/send?phone=12067502776" aria-label="Whatsapp">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 455.731 455.731" xml:space="preserve" width="20px" height="20px" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <rect x="0" y="0" style="fill:#1BD741;" width="455.731" height="455.731"></rect>
            <g>
              <path style="fill:#FFFFFF;"
                d="M68.494,387.41l22.323-79.284c-14.355-24.387-21.913-52.134-21.913-80.638 c0-87.765,71.402-159.167,159.167-159.167s159.166,71.402,159.166,159.167c0,87.765-71.401,159.167-159.166,159.167 c-27.347,0-54.125-7-77.814-20.292L68.494,387.41z M154.437,337.406l4.872,2.975c20.654,12.609,44.432,19.274,68.762,19.274 c72.877,0,132.166-59.29,132.166-132.167S300.948,95.321,228.071,95.321S95.904,154.611,95.904,227.488 c0,25.393,7.217,50.052,20.869,71.311l3.281,5.109l-12.855,45.658L154.437,337.406z">
              </path>
              <path style="fill:#FFFFFF;"
                d="M183.359,153.407l-10.328-0.563c-3.244-0.177-6.426,0.907-8.878,3.037 c-5.007,4.348-13.013,12.754-15.472,23.708c-3.667,16.333,2,36.333,16.667,56.333c14.667,20,42,52,90.333,65.667 c15.575,4.404,27.827,1.435,37.28-4.612c7.487-4.789,12.648-12.476,14.508-21.166l1.649-7.702c0.524-2.448-0.719-4.932-2.993-5.98 l-34.905-16.089c-2.266-1.044-4.953-0.384-6.477,1.591l-13.703,17.764c-1.035,1.342-2.807,1.874-4.407,1.312 c-9.384-3.298-40.818-16.463-58.066-49.687c-0.748-1.441-0.562-3.19,0.499-4.419l13.096-15.15 c1.338-1.547,1.676-3.722,0.872-5.602l-15.046-35.201C187.187,154.774,185.392,153.518,183.359,153.407z">
              </path>
            </g>
          </g>
        </g>
      </svg>
    </a>
    <a href="https://instagram.com/polimat.ai" aria-label="Instagram">
      <svg width="20px" height="20px" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint0_radial_87_7153)"></rect>
          <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint1_radial_87_7153)"></rect>
          <rect x="2" y="2" width="28" height="28" rx="6" fill="url(#paint2_radial_87_7153)"></rect>
          <path
            d="M23 10.5C23 11.3284 22.3284 12 21.5 12C20.6716 12 20 11.3284 20 10.5C20 9.67157 20.6716 9 21.5 9C22.3284 9 23 9.67157 23 10.5Z"
            fill="white"></path>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21ZM16 19C17.6569 19 19 17.6569 19 16C19 14.3431 17.6569 13 16 13C14.3431 13 13 14.3431 13 16C13 17.6569 14.3431 19 16 19Z"
            fill="white"></path>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6 15.6C6 12.2397 6 10.5595 6.65396 9.27606C7.2292 8.14708 8.14708 7.2292 9.27606 6.65396C10.5595 6 12.2397 6 15.6 6H16.4C19.7603 6 21.4405 6 22.7239 6.65396C23.8529 7.2292 24.7708 8.14708 25.346 9.27606C26 10.5595 26 12.2397 26 15.6V16.4C26 19.7603 26 21.4405 25.346 22.7239C24.7708 23.8529 23.8529 24.7708 22.7239 25.346C21.4405 26 19.7603 26 16.4 26H15.6C12.2397 26 10.5595 26 9.27606 25.346C8.14708 24.7708 7.2292 23.8529 6.65396 22.7239C6 21.4405 6 19.7603 6 16.4V15.6ZM15.6 8H16.4C18.1132 8 19.2777 8.00156 20.1779 8.0751C21.0548 8.14674 21.5032 8.27659 21.816 8.43597C22.5686 8.81947 23.1805 9.43139 23.564 10.184C23.7234 10.4968 23.8533 10.9452 23.9249 11.8221C23.9984 12.7223 24 13.8868 24 15.6V16.4C24 18.1132 23.9984 19.2777 23.9249 20.1779C23.8533 21.0548 23.7234 21.5032 23.564 21.816C23.1805 22.5686 22.5686 23.1805 21.816 23.564C21.5032 23.7234 21.0548 23.8533 20.1779 23.9249C19.2777 23.9984 18.1132 24 16.4 24H15.6C13.8868 24 12.7223 23.9984 11.8221 23.9249C10.9452 23.8533 10.4968 23.7234 10.184 23.564C9.43139 23.1805 8.81947 22.5686 8.43597 21.816C8.27659 21.5032 8.14674 21.0548 8.0751 20.1779C8.00156 19.2777 8 18.1132 8 16.4V15.6C8 13.8868 8.00156 12.7223 8.0751 11.8221C8.14674 10.9452 8.27659 10.4968 8.43597 10.184C8.81947 9.43139 9.43139 8.81947 10.184 8.43597C10.4968 8.27659 10.9452 8.14674 11.8221 8.0751C12.7223 8.00156 13.8868 8 15.6 8Z"
            fill="white"></path>
          <defs>
            <radialGradient id="paint0_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(12 23) rotate(-55.3758) scale(25.5196)">
              <stop stop-color="#B13589"></stop>
              <stop offset="0.79309" stop-color="#C62F94"></stop>
              <stop offset="1" stop-color="#8A3AC8"></stop>
            </radialGradient>
            <radialGradient id="paint1_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(11 31) rotate(-65.1363) scale(22.5942)">
              <stop stop-color="#E0E8B7"></stop>
              <stop offset="0.444662" stop-color="#FB8A2E"></stop>
              <stop offset="0.71474" stop-color="#E2425C"></stop>
              <stop offset="1" stop-color="#E2425C" stop-opacity="0"></stop>
            </radialGradient>
            <radialGradient id="paint2_radial_87_7153" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(0.500002 3) rotate(-8.1301) scale(38.8909 8.31836)">
              <stop offset="0.156701" stop-color="#406ADC"></stop>
              <stop offset="0.467799" stop-color="#6A45BE"></stop>
              <stop offset="1" stop-color="#6A45BE" stop-opacity="0"></stop>
            </radialGradient>
          </defs>
        </g>
      </svg>
    </a>
    <a href="https://tiktok.com/@polimat.ai" aria-label="Tiktok">
      <svg width="20px" height="20px" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g clip-rule="evenodd" fill-rule="evenodd">
            <path
              d="M25 0h200c13.808 0 25 11.192 25 25v200c0 13.808-11.192 25-25 25H25c-13.808 0-25-11.192-25-25V25C0 11.192 11.192 0 25 0z"
              fill="#010101"></path>
            <path
              d="M156.98 230c7.607 0 13.774-6.117 13.774-13.662s-6.167-13.663-13.774-13.663h-2.075c7.607 0 13.774 6.118 13.774 13.663S162.512 230 154.905 230z"
              fill="#ee1d51"></path>
            <path
              d="M154.717 202.675h-2.075c-7.607 0-13.775 6.118-13.775 13.663S145.035 230 152.642 230h2.075c-7.608 0-13.775-6.117-13.775-13.662s6.167-13.663 13.775-13.663z"
              fill="#66c8cf"></path>
            <ellipse cx="154.811" cy="216.338" fill="#010101" rx="6.699" ry="6.643"></ellipse>
            <path
              d="M50 196.5v6.925h8.112v26.388h8.115v-26.201h6.603l2.264-7.112zm66.415 0v6.925h8.112v26.388h8.115v-26.201h6.603l2.264-7.112zm-39.81 3.93c0-2.17 1.771-3.93 3.959-3.93 2.19 0 3.963 1.76 3.963 3.93s-1.772 3.93-3.963 3.93c-2.188-.001-3.959-1.76-3.959-3.93zm0 6.738h7.922v22.645h-7.922zM87.924 196.5v33.313h7.925v-8.608l2.453-2.248L106.037 230h8.49l-11.133-16.095 10-9.733h-9.622l-7.923 7.86V196.5zm85.47 0v33.313h7.926v-8.608l2.452-2.248L191.509 230H200l-11.133-16.095 10-9.733h-9.622l-7.925 7.86V196.5z"
              fill="#ffffff"></path>
            <path
              d="M161.167 81.186c10.944 7.819 24.352 12.42 38.832 12.42V65.755a39.26 39.26 0 0 1-8.155-.853v21.923c-14.479 0-27.885-4.601-38.832-12.42v56.835c0 28.432-23.06 51.479-51.505 51.479-10.613 0-20.478-3.207-28.673-8.707C82.187 183.57 95.23 189.5 109.66 189.5c28.447 0 51.508-23.047 51.508-51.48V81.186zm10.06-28.098c-5.593-6.107-9.265-14-10.06-22.726V26.78h-7.728c1.945 11.09 8.58 20.565 17.788 26.308zm-80.402 99.107a23.445 23.445 0 0 1-4.806-14.256c0-13.004 10.548-23.547 23.561-23.547a23.6 23.6 0 0 1 7.147 1.103V87.022a51.97 51.97 0 0 0-8.152-.469v22.162a23.619 23.619 0 0 0-7.15-1.103c-13.013 0-23.56 10.543-23.56 23.548 0 9.195 5.272 17.157 12.96 21.035z"
              fill="#ee1d52"></path>
            <path
              d="M153.012 74.405c10.947 7.819 24.353 12.42 38.832 12.42V64.902c-8.082-1.72-15.237-5.942-20.617-11.814-9.208-5.743-15.843-15.218-17.788-26.308H133.14v111.239c-.046 12.968-10.576 23.468-23.561 23.468-7.652 0-14.45-3.645-18.755-9.292-7.688-3.878-12.96-11.84-12.96-21.035 0-13.005 10.547-23.548 23.56-23.548 2.493 0 4.896.388 7.15 1.103V86.553c-27.945.577-50.42 23.399-50.42 51.467 0 14.011 5.597 26.713 14.68 35.993 8.195 5.5 18.06 8.707 28.673 8.707 28.445 0 51.505-23.048 51.505-51.479z"
              fill="#ffffff"></path>
            <path
              d="M191.844 64.902v-5.928a38.84 38.84 0 0 1-20.617-5.887 38.948 38.948 0 0 0 20.617 11.815zM153.439 26.78a39.524 39.524 0 0 1-.427-3.198V20h-28.028v111.24c-.045 12.967-10.574 23.467-23.56 23.467-3.813 0-7.412-.904-10.6-2.512 4.305 5.647 11.103 9.292 18.755 9.292 12.984 0 23.515-10.5 23.561-23.468V26.78zm-44.864 59.773v-6.311a51.97 51.97 0 0 0-7.067-.479C73.06 79.763 50 102.811 50 131.24c0 17.824 9.063 33.532 22.835 42.772-9.083-9.28-14.68-21.982-14.68-35.993 0-28.067 22.474-50.889 50.42-51.466z"
              fill="#69c9d0"></path>
            <path
              d="M154.904 230c7.607 0 13.775-6.117 13.775-13.662s-6.168-13.663-13.775-13.663h-.188c-7.607 0-13.774 6.118-13.774 13.663S147.109 230 154.716 230zm-6.792-13.662c0-3.67 3-6.643 6.7-6.643 3.697 0 6.697 2.973 6.697 6.643s-3 6.645-6.697 6.645c-3.7-.001-6.7-2.975-6.7-6.645z"
              fill="#ffffff"></path>
          </g>
        </g>
      </svg>
    </a>
    <a href="https://discord.gg/Sqxz7fyuRw" aria-label="Discord">
      <svg width="20" zoomAndPan="magnify" viewBox="0 0 30 30.000001" height="20" preserveAspectRatio="xMidYMid meet"
        version="1.0">
        <defs>
          <clipPath id="f38ecf6063">
            <path d="M 0.484375 0 L 29.515625 0 L 29.515625 29.03125 L 0.484375 29.03125 Z M 0.484375 0 "
              clip-rule="nonzero" />
          </clipPath>
        </defs>
        <g clip-path="url(#f38ecf6063)">
          <path fill="#7289da"
            d="M 4.839844 0 L 25.160156 0 C 25.445312 0 25.730469 0.0273438 26.011719 0.0820312 C 26.292969 0.140625 26.5625 0.222656 26.828125 0.332031 C 27.09375 0.441406 27.34375 0.574219 27.582031 0.734375 C 27.820312 0.894531 28.039062 1.074219 28.242188 1.277344 C 28.441406 1.476562 28.625 1.699219 28.78125 1.933594 C 28.941406 2.171875 29.074219 2.425781 29.183594 2.6875 C 29.292969 2.953125 29.375 3.226562 29.433594 3.503906 C 29.488281 3.785156 29.515625 4.070312 29.515625 4.355469 L 29.515625 24.675781 C 29.515625 24.964844 29.488281 25.246094 29.433594 25.527344 C 29.375 25.808594 29.292969 26.078125 29.183594 26.34375 C 29.074219 26.609375 28.941406 26.859375 28.78125 27.097656 C 28.625 27.335938 28.441406 27.554688 28.242188 27.757812 C 28.039062 27.957031 27.820312 28.140625 27.582031 28.296875 C 27.34375 28.457031 27.09375 28.589844 26.828125 28.699219 C 26.5625 28.808594 26.292969 28.894531 26.011719 28.949219 C 25.730469 29.003906 25.445312 29.03125 25.160156 29.03125 L 4.839844 29.03125 C 4.554688 29.03125 4.269531 29.003906 3.988281 28.949219 C 3.707031 28.894531 3.4375 28.808594 3.171875 28.699219 C 2.90625 28.589844 2.65625 28.457031 2.417969 28.296875 C 2.179688 28.140625 1.960938 27.957031 1.757812 27.757812 C 1.558594 27.554688 1.375 27.335938 1.21875 27.097656 C 1.058594 26.859375 0.925781 26.609375 0.816406 26.34375 C 0.707031 26.078125 0.625 25.808594 0.566406 25.527344 C 0.511719 25.246094 0.484375 24.964844 0.484375 24.675781 L 0.484375 4.355469 C 0.484375 4.070312 0.511719 3.785156 0.566406 3.503906 C 0.625 3.226562 0.707031 2.953125 0.816406 2.6875 C 0.925781 2.425781 1.058594 2.171875 1.21875 1.933594 C 1.375 1.699219 1.558594 1.476562 1.757812 1.277344 C 1.960938 1.074219 2.179688 0.894531 2.417969 0.734375 C 2.65625 0.574219 2.90625 0.441406 3.171875 0.332031 C 3.4375 0.222656 3.707031 0.140625 3.988281 0.0820312 C 4.269531 0.0273438 4.554688 0 4.839844 0 Z M 4.839844 0 "
            fill-opacity="1" fill-rule="nonzero" />
        </g>
        <path fill="#ffffff"
          d="M 20.101562 22.226562 L 18.914062 20.808594 C 21.238281 20.1875 22.144531 18.597656 22.144531 18.597656 C 19.195312 21.378906 11.144531 21.492188 8.027344 18.597656 C 8.027344 18.597656 8.820312 20.074219 11.199219 20.808594 L 9.898438 22.226562 C 5.925781 22.171875 4.394531 19.507812 4.394531 19.507812 C 4.394531 13.609375 7.003906 8.902344 7.003906 8.902344 C 9.667969 7.03125 12.109375 7.03125 12.109375 7.03125 L 12.277344 7.257812 C 8.988281 8.164062 7.570312 9.640625 7.570312 9.640625 C 11.425781 7.03125 19.367188 7.257812 22.484375 9.640625 C 22.542969 9.582031 20.613281 8.050781 17.609375 7.257812 L 17.890625 7.03125 C 17.890625 7.03125 20.332031 7.03125 22.996094 8.902344 C 25.660156 10.773438 25.605469 13.609375 25.605469 19.507812 C 25.605469 19.507812 24.074219 22.171875 20.101562 22.226562 Z M 20.101562 22.226562 "
          fill-opacity="1" fill-rule="nonzero" />
        <path fill="#7289da"
          d="M 13.46875 15.820312 C 13.46875 16.082031 13.421875 16.335938 13.328125 16.578125 C 13.230469 16.824219 13.097656 17.039062 12.921875 17.222656 C 12.746094 17.410156 12.542969 17.554688 12.3125 17.652344 C 12.085938 17.753906 11.847656 17.804688 11.597656 17.804688 C 11.351562 17.804688 11.109375 17.753906 10.882812 17.652344 C 10.652344 17.554688 10.449219 17.410156 10.273438 17.222656 C 10.097656 17.039062 9.964844 16.824219 9.867188 16.578125 C 9.773438 16.335938 9.726562 16.082031 9.726562 15.820312 C 9.726562 15.558594 9.773438 15.304688 9.867188 15.0625 C 9.964844 14.816406 10.097656 14.601562 10.273438 14.417969 C 10.449219 14.230469 10.652344 14.085938 10.882812 13.988281 C 11.109375 13.886719 11.351562 13.835938 11.597656 13.835938 C 11.847656 13.835938 12.085938 13.886719 12.3125 13.988281 C 12.542969 14.085938 12.746094 14.230469 12.921875 14.417969 C 13.097656 14.601562 13.230469 14.816406 13.328125 15.0625 C 13.421875 15.304688 13.46875 15.558594 13.46875 15.820312 Z M 13.46875 15.820312 "
          fill-opacity="1" fill-rule="nonzero" />
        <path fill="#7289da"
          d="M 20.046875 15.820312 C 20.046875 16.082031 20 16.335938 19.902344 16.578125 C 19.808594 16.824219 19.675781 17.039062 19.5 17.222656 C 19.324219 17.410156 19.121094 17.554688 18.890625 17.652344 C 18.664062 17.753906 18.421875 17.804688 18.175781 17.804688 C 17.925781 17.804688 17.6875 17.753906 17.460938 17.652344 C 17.230469 17.554688 17.027344 17.410156 16.851562 17.222656 C 16.675781 17.039062 16.542969 16.824219 16.445312 16.578125 C 16.351562 16.335938 16.304688 16.082031 16.304688 15.820312 C 16.304688 15.558594 16.351562 15.304688 16.445312 15.0625 C 16.542969 14.816406 16.675781 14.601562 16.851562 14.417969 C 17.027344 14.230469 17.230469 14.085938 17.460938 13.988281 C 17.6875 13.886719 17.925781 13.835938 18.175781 13.835938 C 18.421875 13.835938 18.664062 13.886719 18.890625 13.988281 C 19.121094 14.085938 19.324219 14.230469 19.5 14.417969 C 19.675781 14.601562 19.808594 14.816406 19.902344 15.0625 C 20 15.304688 20.046875 15.558594 20.046875 15.820312 Z M 20.046875 15.820312 "
          fill-opacity="1" fill-rule="nonzero" />
      </svg>
    </a>
  </div>
</div>