<div class="rightBar">
    <iframe src="https://discord.com/widget?id=1198917726643687495&theme=dark" width="350" height="500"
        allowtransparency="true" frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>